#searchMenu{
	background-color: #edeff1;
	padding-bottom: 20px;
}
#searchMenu .dropdown{
	margin:10px;
}
#close-icon-row{
	position:relative;
	padding-left:15px;
}
#close-icon-row>h3{
	color:#555555;
}
#close-icon-row>span{	
	position:absolute;
	right:20px;
	top:20px;
	color:#777777;
	font-size:25px;
	cursor: pointer;
}
.searchMenuLink{
		background-color: #edeff1;
}
.searchMenuLink:focus{
		background-color: #edeff1;
}
