html{
	height:100%;
}
body{
	position:relative;
	min-height:100%;
	padding-bottom: 50px;
}
.navbar{
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);*/
}
footer{
	position:absolute;
	bottom:0px;
	height: 50px;
	border-top:1px solid #dddddd;
	width: 100%;
	padding-top:13px;

}
div.dropdown>.btn-default.dropdown-toggle:hover{
    color:#ffffff;
    background-color:#31B0D5 ;
    border-color:#00bfff ;
}
div.dropdown>.btn-default.dropdown-toggle:focus{
    color:#ffffff;
	background-color:#00bfff ;
    border-color:#00bfff ;
}
div.dropdown>.btn-default.dropdown-toggle:active{
    color:#ffffff;
	background-color:#00bfff ;
    border-color:#00bfff ;
}
.asterisque{
	color:#00b1ca;
	font-size:17px;
}
.infoRequired{
	color:#00b1ca;
	font-size:15px;
	font-weight: 700;
}
